DATABASE_URL="postgresql://user:password@localhost:5432/mykora?schema=public"
AUTH_SECRET="generate-a-secure-secret-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
